{% extends 'base.html' %}
{% load static %}

{% block main %}
    <br>
      <section>
          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-body">
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="card">
                                      <div class="card-header">
                                          <h5><b>Minha conta</b></h5>
                                      </div>
                                      <div class="card-body">
                                          <div class="card" style="text-align:center">
                                            <div class="card-body">
                                                <img src="{% static 'images/img_user_default.png' %}" height="55" width="55">
                                                <br><br>
                                                <h6>{{ request.user.email }}</h6>
                                            </div>
                                          </div>
                                          <br>
                                          <h6>Plano: <b>{{ plano_type }}</b></h6>
                                          <h6>Limite de redes: <b>{{ network_limit }}</b></h6>

                                          {% if devices_creation_limited %}
                                            {% if flag_stop_device_creation %}
                                                <h6 style="color:red">
                                                    Assine para poder criar novos dispositivos!</h6>
                                            {% else %}
                                                <h6>Limite de criação de dispositivos:
                                                    <b>{{ devices_created }}/20</b></h6>
                                            {% endif %}
                                          {% endif %}

                                            {% if flag_limit %}
                                                <h6 style="color:red">Limite de dispositivos atingido!</h6>
                                            {% else %}
                                                <h6>
                                                    Limite de dispositivos simultaneos:
                                                    <b>{{ contagem_dispositivos }}/{{ limite_dispositivos }}</b>
                                                </h6>
                                            {% endif %}

                                            <br>
                                            {% if flag_has_profile %}
                                                <a href="{% url 'profileupdate' request.user.id  %}"
                                                   class="btn btn-outline-primary">Atualizar perfil</a>
                                                {% if flag_has_plan %}
                                                    <a href="{% url 'planoupdate' request.user.id %}"
                                                       class="btn btn-outline-primary">Atualizar plano</a>
                                                    <a href="{% url 'planocancel' request.user.id %}"
                                                       class="btn btn-outline-danger">Cancelar assinatura</a>
                                                {% else %}
                                                    <a href="{% url 'planochange' request.user.id %}"
                                                    class="btn btn-outline-primary">Assinar</a>
                                                {% endif %}
                                            {% else %}
                                                <h5 style="color:red">Crie um perfil para poder mudar de plano</h5>
                                                <a href="{% url 'profileregister' %}"
                                                   class="btn btn-outline-primary">Criar perfil</a>
                                            {% endif %}
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="card">
                                      <div class="card-header">
                                          <h5><b>Uso da cota do plano</b>
                                            <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                                <i class="bi bi-file-bar-graph-fill"></i>
                                            </button>
                                            <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                                                <i class="bi bi-envelope-fill"></i>
                                            </button>
                                          </h5>
                                      </div>
                                      <div class="card-body">
                                          <h6>Limite de medições: <b>20/dispositivo</b></h6>
                                          <h6>Limite de mensagens: <b>10/dispositivo</b></h6>
                                      </div>

                                      {% if flag_no_device %}
                                        <div class="card-body">
                                            <h5 style="color:red">Não há dispositivos cadastrados</h5>
                                        </div>
                                      {% else %}
                                          <div class="collapse" id="collapseExample">
                                            <div class="card-body">
                                                 <canvas id="myChart" width="8" height="3"></canvas>
                                            </div>
                                          </div>
                                          <div class="collapse" id="collapseExample1">
                                            <div class="card-body">
                                                 <canvas id="myChart1" width="8" height="3"></canvas>
                                            </div>
                                          </div>
                                      {% endif %}

                                  </div>
                              </div>
                          </div>
                          <br>

                          <div class="row">
                               <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5><b>Meus dispositivos</b></h5>
                                        </div>
                                        <div class="card-body" style="text-align:center">
                                            {% if flag_stop_device_creation %}
                                                <h5><span class="badge bg-danger">
                                                        Limite de criação de dispositivos atingido!</span></h5>
                                                <br>
                                                <h5><span class="badge bg-danger">
                                                        Assine para poder criar novos dispositivos</span></h5>
                                            {% else %}
                                                {% if flag_limit %}
                                                    <h5><span class="badge bg-danger">
                                                        Limite de dispositivos simultaneos atingido!</span></h5>
                                                {% else %}
                                                    <div class="d-grid gap-2">
                                                        <a class="btn btn-outline-primary" href="{% url 'deviceregister' request.user.id %}">Registrar dispositivo</a>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                            <br>
                                            {% if flag_no_device %}
                                                <br>
                                                <h5 style="color:red">Não há dispositivos para exibir</h5>
                                            {% else %}
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Nome</th>
                                                            <th scope="col">Placa</th>
                                                            <th scope="col">Tipo</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for device in devices %}
                                                            <tr>
                                                                <td>{{ device.nome }}</td>
                                                                <td>{{ device.placa }}</td>
                                                                <td>{{ device.tipo }}</td>
                                                                {% if flag_stop_device_creation %}
                                                                    <td><i class="bi bi-x-circle-fill"></i></td>
                                                                {% else %}
                                                                    <td><a href="{% url 'deviceserial' device.serial %}">
                                                                        <i class="bi bi-eye-fill"></i>
                                                                    </a></td>
                                                                {% endif %}
                                                            </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                                <h6 class="card-title"><b>Total de dispositivos: {{ counter }}</b></h6>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5><b>Ultimas medições</b></h5>
                                        </div>
                                        <div class="card-body" style="text-align:center">
                                            <br>
                                            {% if flag_no_device %}
                                                <h5 style="color:red">Nada para exibir</h5>
                                            {% else %}
                                                {% if flag_no_data %}
                                                    <h5 style="color:red">Nehuma medição para exibir</h5>
                                                {% else %}
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Dispositivo</th>
                                                                <th scope="col">Leitura</th>
                                                                <th scope="col">Unidade</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for leitura in ultimas_leituras %}
                                                                <tr>
                                                                    <td>{{ leitura.dispositivo.nome }}</td>
                                                                    <td>{{ leitura.dado }}</td>
                                                                    <td>{{ leitura.unidade }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                          </div>
                          <br>
                          {% if not flag_no_device %}
                              <div class="row">
                                  <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5><b>Controle de dispositivos</b></h5>
                                            </div>
                                            <div class="card-body" style="text-align:center">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Dispositivo</th>
                                                            <th scope="col">Editar configurações</th>
                                                            <th scope="col">Acessar alertas</th>
                                                        </tr>
                                                    </thead>
                                                        <tbody>
                                                            {% for conf in confs %}
                                                                <tr>
                                                                    <td>{{ conf.dispositivo.nome }}</td>
                                                                    <td><a href="{% url 'deviceconf' conf.dispositivo.serial %}">
                                                                        <i class="bi bi-pencil-fill"></i>
                                                                    </a></td>
                                                                    <td><a href="{% url 'devicemessages' conf.dispositivo.serial %}">
                                                                        <i class="bi bi-exclamation-diamond-fill"></i>
                                                                    </a></td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                              </div>
                              <br>
                              <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5><b>Estatísticas</b></h5>
                                        </div>
                                        <div class="card-body" style="text-align:center">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Dispositivo</th>
                                                        <th scope="col">Ativo desde</th>
                                                        <th scope="col">Estatísticas</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for device in devices %}
                                                        <tr>
                                                            <td>{{ device.nome }}</td>
                                                            <td>{{ device.criacao }}</td>
                                                            <td><a href="{% url 'devicestatistics' device.serial %}">
                                                                <i class="bi bi-clipboard-data"></i>
                                                            </a></td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          {% else %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5><b>Controles e estatisticas</b></h5>
                                        </div>
                                        <div class="card-body">
                                            <br>
                                            <h5 style="color:red; text-align:center">Registre um dispositivo para utilizar</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          {% endif %}

                      </div>
                  </div>
              </div>
          </div>
          <div class="resultados"></div>
      </section>
<br>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>-->
    <script>
    //adaptar conforme dados de dispositivos e da quantidade de dispositivo
    var ctx = document.getElementById('myChart').getContext('2d');
    //console.log(`{{ plano_type|safe }}`);
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            //labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'], //nome dispositivos

            labels: {{ chart_device_names|safe }},
            datasets: [{
                label: 'Qtd de medições',

                //data: [12, 19, 3, 5, 2, 3], //contagem dinamica de medições

                data: {{ chart_device_data_counts|safe }},
                backgroundColor: {{ chart_data_background_color|safe }},

                //similar ao anterior
                borderColor: {{ chart_data_border_color|safe }},
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    var ctx = document.getElementById('myChart1').getContext('2d');
    //console.log(`{{ plano_type|safe }}`);
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            //labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'], //nome dispositivos

            labels: {{ chart_device_names|safe }},
            datasets: [{
                label: 'Qtd de mensagens',

                //data: [12, 19, 3, 5, 2, 3], //contagem dinamica de medições

                data: {{ chart_device_message_count|safe }},
                //criar regra para cor de cada dispositivo
                backgroundColor: {{ chart_messages_background_color|safe }},

                //similar ao anterior
                borderColor: {{ chart_messages_border_color|safe }},
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
      </script>
      <script src="{% static 'js/main_dashboard.js' %}"></script>
{% endblock %}
