{% extends 'base.html' %}

{% block main %}
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Obter informações do dispositivo</h5>
                    <h6>Method: GET</h6>
                    <h6>Endpoint: <b>api/v1/dispositivos/serial do dispositivo/</b></h6>
                    <h6>Headers:<br>
                        <b>Content-Type: 'application/json'</b><br>
                        <b>Authorization: Token your_token</b></h6>
                </div>
                <div class="card-body">
                    <h6>Response: <b>status 200</b></h6><br>
                    <h6>{
    "nome": "teste-temperatura",
    "placa": "esp8266",
    "tipo": "Sensor",
    "dados": [
        {
            "unidade": "celsius",
            "dado": "30",
            "criacao": "2021-08-31T15:11:36.666903-03:00"
        }, ...
    ],
    "configuracoes": [
        {
            "limite_inferior": "0",
            "limite_superior": "100"
        }
    ],
    "acoes": [],
    "mensagens": [
        {
            "alerta": "Teste",
            "mensagem": "apenas um teste",
            "is_critic": false
        }, ...
    ],
    "criacao": "2021-08-31T10:31:00.110277-03:00",
    "ativo": true
}</h6>
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Obter ação do atuador</h5>
                    <h6>Method: GET</h6>
                    <h6>Endpoint: <b>api/v1/acoes/serial do dispositivo/</b></h6>
                    <h6>Headers:<br>
                        <b>Content-Type: 'application/json'</b><br>
                        <b>Authorization: Token your_token</b></h6>
                </div>
                <div class="card-body">
                    <h6>Response: <b>status 200</b></h6><br>
                    <h6>[
                          {
                            "pino": 4,
                            "sinal": "Desligado"
                          }
                        ]</h6>
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Criar uma nova leitura</h5>
                    <h6>Method: POST</h6>
                    <h6>Endpoint: <b>api/v1/dados/serial do dispositivo/</b></h6>
                    <h6>header:<br>
                        <b>Content-Type: 'application/json'</b><br>
                        <b>Authorization: Token your_token</b></h6>
                    <br>
                     <h6>body:<br><b>Media type: application/json <br>
                        {"unidade":"qualquer unidade", "dado":"qualquer valor"}
                     </b>
                     </h6>
                </div>
                <div class="card-body">
                    <h6>Response: <b>status 201</b><br><br>
                        {
                        "unidade": "algo",
                        "dado": "true",
                        "criacao": "2021-08-27T10:42:37.810685-03:00" }
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Criar um novo alerta</h5>
                    <h6>Method: POST</h6>
                    <h6>Endpoint: <b>api/v1/mensagens/serial do dispositivo/</b></h6>
                    <h6>header:<br>
                        <b>Content-Type: 'application/json'</b><br>
                        <b>Authorization: Token your_token</b></h6>
                    <br>
                    <h6>body:<br><b>Media type: application/json<br>
                        {
                        "alerta": "Seu alerta",
                        "mensagem": "Sua mensagem",
                        "is_critic": true se for critico ou false se não for
                        }</b>
                    </h6>
                </div>
                <div class="card-body">
                    <h6>Response: <b>status 201<br><br>
                        {
                            "alerta": "teste doc",
                            "mensagem": "teste para doc",
                            "is_critic": false
                        }
                        </b>
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <a href="{% url 'dashboard' %}" class="btn btn-outline-primary">Voltar</a>
    <br><br>
{% endblock %}