{% extends 'base.html' %}
{% block main %}

{% if request.GET.command == 'verification' %}
    <div class="container mx-auto alert-info text-center" role="alert" style="max-width: 1024px; margin-top:100px;">
        Email de validação enviado para: {{request.GET.email}}.
        <br><br>
        Já o validou ? <a href="{% url 'login' %}">Login</a>
    </div>
{% else %}
    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
      <div class="card-body">
          {% include 'includes/alerts.html' %}
          <h4 class="card-title mb-4">Login</h4>
          <form action="{% url 'login' %}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                 <input type="email" class="form-control" placeholder="Email" name="email">
              </div>
              <br>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Senha" name="password">
              </div>
              <div class="form-group">
                <a href="{% url 'forgotpassword' %}" class="float-right">Esqueceu sua senha?</a>
              </div>
              <br>
              <div class="d-grid gap-2">
                  <button type="submit" class="btn btn-primary">Login</button>
              </div>
          </form>
      </div>
    </div>
    <br>
     <p class="text-center mt-4">Não possui conta? <a href="{% url 'register' %}">Registre</a></p>
{% endif %}
{% endblock %}