{% extends 'base.html' %}

{% block main %}
    <br><br>
    <h1>Pergutas frequentes com soluções rápidas</h1>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>
                    Alguma pergunta
                    <button class="btn btn-outline-secondary offset-9" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
<!--                        <i class="bi bi-eye-fill"></i>-->
                        Exibir
                      </button>
                    </h4>
                </div>
                <div class="collapse" id="collapseExample">
                    <div class="card-body">
                        <h5>Resposta 1</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>
                    Alguma pergunta
                    <button class="btn btn-outline-secondary offset-9" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
<!--                        <i class="bi bi-eye-fill"></i>-->
                        Exibir
                      </button>
                    </h4>
                </div>
                <div class="collapse" id="collapseExample2">
                    <div class="card-body">
                        <h5>Resposta 1</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>
                    Alguma pergunta
                    <button class="btn btn-outline-secondary offset-9" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
<!--                        <i class="bi bi-eye-fill"></i>-->
                        Exibir
                      </button>
                    </h4>
                </div>
                <div class="collapse" id="collapseExample3">
                    <div class="card-body">
                        <h5>Resposta 1</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>
                    Alguma pergunta
                    <button class="btn btn-outline-secondary offset-9" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">
<!--                        <i class="bi bi-eye-fill"></i>-->
                        Exibir
                      </button>
                    </h4>
                </div>
                <div class="collapse" id="collapseExample4">
                    <div class="card-body">
                        <h5>Resposta 1</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>
                    Alguma pergunta
                    <button class="btn btn-outline-secondary offset-9" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample5">
<!--                        <i class="bi bi-eye-fill"></i>-->
                        Exibir
                      </button>
                    </h4>
                </div>
                <div class="collapse" id="collapseExample5">
                    <div class="card-body">
                        <h5>Resposta 1</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}