{% extends 'base.html' %}

{% block main %}
   <section class="section-content padding-y">
	 <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
		<header class="mb-4"><h4 class="card-title">Atualizar dispositivo</h4></header>
		<form  method="POST">
			{% csrf_token %}
				<div class="row">
					<div class="form-group col-12">
						<label>Nome</label>
						{{ form.nome }}
					</div>
				</div>
				<br>
				<div class="row">
					<div class="form-group col-12">
						<label>Serial</label>
						{{ form.serial }}
					</div>
				</div>
				<br>
				<div class="row">
					<div class="form-group col-12">
						<label>Placa</label>
						{{ form.placa }}
					</div>
				</div>
				<br>
				<div class="row">
                    <div class="form-group col-md-12">
						<label>Tipo</label>
						{{ form.tipo }}
					</div>
				</div>
				<br>
			    <div class="d-grid gap-2">
					<button type="submit" class="btn btn-primary">Atualizar</button>
				</div>
			</form>
		  	<br>
		  	<a href="{% url 'dashboard' %}">Voltar</a>
		</article>
    </div>
    <br><br>
</section>
{% endblock %}