{% extends 'base.html' %}

{% block main %}
<br>
<h3>Gráfico com os dados de {{ device.nome }} </h3>
<canvas id="myChart" height="40" width="100"></canvas>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    const labels = 'teste';
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ medicoes }}, //deve ser o horario da mediçoes
            datasets: [{
                label: labels,
                data: {{ leituras }},  //deve receber array com os dados de leitura
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}