{% extends 'base.html' %}

{% block main %}
  <br><br>
  <h1>Dispositivo: {{ device.nome }}</h1>
  <br><br>
 <canvas id="myChart" height="40" width="100"></canvas>
  <br><br>
  {% if flag_data_limit %}
    <br>
    <h5 style="color:red">Limite de medições atingido para esse dispositivo</h5>
    <br>
  {% endif %}
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body" style="text-align:center">
          <h5>Leituras obtidas</h5>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Leitura</th>
                <th scope="col">Unidade</th>
              </tr>
            </thead>
            <tbody>
              {% for dado in dados %}
                <tr>
                  <td>{{ dado.dado }}</td>
                  <td>{{ dado.unidade }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-body" style="text-align:center">
          <h5>Estatísticas</h5>
          <br>
            {% if not estatisticas.error %}
              <h6>Media das leituras {{ estatisticas.media }}</h6>
              <h6>Mediana: {{ estatisticas.mediana }}</h6>
              <h6>Moda: {{ estatisticas.moda }}</h6>
            {% else %}
              <h6>Dados não numéricos, não é possivel calcular as estatisticas</h6>
              <h6 style="color: red">Data e hora da(s) medição(ões) {{ estatisticas.media }}</h6>
            {% endif %}
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-body" style="text-align:center">
          <h5>Exportar dados</h5>
          <br>
          <table>
            <tr>
              <th scope="col"><a href="">Exportar como csv</a></th>
              <th scope="col"><a href="">Exportar como JSON</a></th>
              <th scope="col"><a href="">Exportar como PDF</a></th>
              <th scope="col"><a href="">Exportar como xlsx</a></th>
              <th scope="col"><a href="">Exportar como XML</a></th>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <a href="{% url 'dashboard' %}" class="btn btn-outline-primary">Voltar para o dashboard</a>
  <br><br>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    const labels = 'teste';
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ medicoes|safe }}, //deve ser o horario da mediçoes
            datasets: [{
                label: labels,
                data: {{ leituras|safe }},  //deve receber array com os dados de leitura
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}